{% extends 'notecraft/layout.html' %} {% block body %}
<div class="w-full h-full flex items-center justify-center">
    <div class="w-96 flex flex-col gap-5">
        <div class="flex justify-around">
            <button id="register" onclick="hideLogin()" class="text-2xl font-bold">Sign Up</button>
            <button id="login" onclick="hideRegister()" class="text-2xl font-bold">Sign In</button>
        </div>

        <form id="registerUser" class="flex flex-col gap-5">
            <input type="text" name="username" id="regUname" class="input_box" />
            <input type="email" name="email" id="regEmail" class="input_box" />
            <input type="password" name="password" id="regPass" class="input_box"/>
            <input type="password" name="cofirmPassword" id="confirmPass" class="input_box"/>
            <button type="button" onclick="registerUser()" class="font-semibold text-xl w-max m-auto">Sign Up</button>
        </form>

        <form id="loginUser" class="flex flex-col hidden gap-3">
            <input type="text" name="username" id="logUname" class="input_box"/>
            <input type="password" name="password" id="logPass" class="input_box"/>
            <button type="button" onclick="loginUser()">Sign In</button>
        </form>
    </div>
</div>

<script>
    const register = document.querySelector("#registerUser");
    const login = document.querySelector("#loginUser");

    function registerUser() {
        const uname = document.querySelector("#regUname");
        const email = document.querySelector("#regEmail");
        const pass = document.querySelector("#regPass");
        const confirmPass = document.querySelector("#confirmPass");
        if (pass.value === confirmPass.value) {
            fetch("/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{csrf_token}}",
                },
                body: JSON.stringify({
                    username: uname.value,
                    email: email.value,
                    password: pass.value,
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    if (data.success == true) {
                        location.reload(true);
                    } else {
                        alert("Username already exists");
                    }
                });
        } else {
            alert("Passwords do not match");
        }
    }

    function loginUser() {
        const uname = document.querySelector("#logUname");
        const pass = document.querySelector("#logPass");
        fetch("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({
                username: uname.value,
                password: pass.value,
            }),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                if (data.success == true) {
                    location.reload(true);
                } else {
                    alert(data.Error);
                }
            });
    }

    function hideRegister() {
        login.classList.remove('hidden')
        register.classList.add('hidden')
        register.reset();
    }

    function hideLogin() {
        login.classList.add('hidden')
        register.classList.remove('hidden')
        login.reset();
    }
</script>
{% endblock %}
