{% extends 'notecraft/layout.html' %} {% block body %}
<div class="flex flex-col m-auto items-center">
    <form
        action="{% url 'image2text' %}"
        method="post"
        enctype="multipart/form-data"
        class="flex flex-col"
    >
        {% csrf_token %}
        <input type="file" name="images" accept="image/*" multiple />
        <input type="submit" />
    </form>
    <div>
        <div>Your Study Materials</div>
        {% for chapter in chapters %}
        <div>
            <a href="{% url 'chapter' %}?studMat={{ chapter.id|urlencode }}">{{ chapter.title }}</a>
        </div>
        {% endfor %}
    </div>
    <form action="{% url 'logout'%}">
        <button type="submit">Logout</button>
    </form>
</div>
{% endblock %}
